@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --lightBgColor: aliceblue;
  --darkOne: #3A3A3A;
  --whiteColor: #FFFFFF;
  --btnBg: #E02C6D;
  --btnHover: #b10d49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  /* background: var(--lightBgColor); */
}

/* Header Area */
.header {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.header ul {
  display: flex;
}

.header li {
  list-style: none;
  padding-right: 35px;
}

.header li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: var(--darkOne);
}

.headin-title {
  color: var(--darkOne);
  font-weight: 800;
  font-size: 1.5rem;
}

/* Main Area */
.main {
  max-width: 1600px;
  margin: 0 auto;
}

/* Banner Section */
.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-texts {
  width: 580px;
}

.banner-heading {
  font-weight: 800;
  font-size: 3.13rem;
  color: var(--darkOne);
  margin-bottom: 16px;
}

.banner-description {
  font-weight: 700;
  font-size: 1rem;
  color: var(--darkOne);
  margin-bottom: 16px;
}

.banner-image {
  position: relative;
}

.banner-image .circle {
  width: 475px;
  height: 475px;
}

.banner-image .camera-main {
  width: 440px;
  height: 414px;
  position: absolute;
  left: 0;
}

.btn-box {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: var(--btnBg);
  color: var(--whiteColor);
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 41px;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: var(--btnHover);
}

.btn-primary i {
  padding-left: 10px;
  color: var(--whiteColor);
}