@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --lightBgColor: aliceblue;
  --darkOne: #3A3A3A;
  --darkTwo: rgba(0, 0, 0, 0.87);
  --darkThree: #5E6366;
  --whiteColor: #FFFFFF;
  --btnBg: #E02C6D;
  --btnHover: #b10d49;
  --lightGray: #ececec;
  --goldColor: #FB8200;
  --navyBlue: #0A0826;
  --poppinsFont: "Poppins", serif;
  --interFont: "Inter", serif;
  --manropeFont: "Manrope", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppinsFont);
}

/* Header Area */
.header {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
}

.header li {
  list-style: none;
  padding-right: 35px;
}

.header li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: var(--darkOne);
}

.headin-title {
  color: var(--darkOne);
  font-weight: 800;
  font-size: 1.5rem;
}

/* Main Area */
.main {
  max-width: 1600px;
  margin: 0 auto;
  /* background: bisque; */
}

/* Banner Section */
.banner {
  margin-bottom: 70px;


}

.banner-image {
  background-image: url(../images/Circle\ design.svg);
  /* background-position: right; */
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.banner-image img {
  width: 100%;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
  /* min-height: 80vh; */
}

.banner-texts {
  width: 580px;
}

.banner-heading {
  font-weight: 800;
  font-size: 3.13rem;
  color: var(--darkOne);
  margin-bottom: 16px;
}

.banner-description {
  font-weight: 700;
  font-size: 1rem;
  color: var(--darkOne);
  margin-bottom: 16px;
}

.btn-box {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: var(--btnBg);
  color: var(--whiteColor);
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 41px;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: var(--btnHover);
}

.btn-primary i {
  padding-left: 10px;
  color: var(--whiteColor);
}

/* Sponsorers Section */
.sponsorers {
  width: 1110px;
  /* height: 110px; */
  margin: 0 auto;
  margin-bottom: 100px;
  border-top: 1px solid var(--lightGray);
  border-bottom: 1px solid var(--lightGray);
}

.sponsors-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
}

/* Card Items */
.card-collection {
  width: 1047px;
  margin: 0 auto;
  margin-bottom: 170px;
}

.card-title {
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 30px;
}

.card {
  width: 100%;
  height: 475px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 17px;
  border-radius: 5px;
  background: var(--whiteColor);
}

.card-image {
  width: 300px;
  height: 256px;
  width: 100%;
}

.card-subtitle {
  font-weight: 500;
  font-size: 1.75rem;
  padding-top: 16px;
  padding-bottom: 6px;
}

.price {
  font-family: var(--interFont);
  font-size: 1.5rem;
  color: var(--darkTwo);
}

.rating {
  display: flex;
  align-items: center;
}

.rating i {
  color: var(--goldColor);
  padding-right: 5px;
}

.rating-txt {
  font-family: var(--poppinsFont);
  font-weight: 800;
  font-size: 0.86rem;
  padding-left: 5px;
  color: var(--darkThree);
}

.card-description {
  font-family: var(--interFont);
  font-weight: 800;
  font-size: 0.86rem;
  padding-top: 5px;
  line-height: 20px;
  color: var(--darkThree);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.special-btn {
  text-align: right;
  margin-top: 50px;
}

.button-sp {
  color: rgba(224, 44, 109, 0.87);
  cursor: pointer;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
}

.button-sp i {
  padding-left: 5px;
}

/* Featured Area */
.featured {
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-texts {
  width: 610px;
}

.featured-title {
  font-weight: 800;
  font-size: 2.3rem;
  color: var(--navyBlue);
  padding-bottom: 16px;
}

.featured-description {
  font-weight: 800;
  font-size: 1rem;
  color: var(--darkThree);
  padding-bottom: 16px;
}

/* Footer Area */
.footer {
  width: 100%;
  height: 300px;
  background: var(--navyBlue);
  color: var(--whiteColor);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.footer-heading {
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.footer-subtitle,
.copyright {
  font-family: var(--manropeFont);
  font-weight: 800;
  font-size: 0.85rem;
  padding: 5px;
}

.icons {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* For Mobile Devices */
@media screen and (max-width: 576px) {
  .header {
    text-align: center;
    justify-content: center;
  }

  .header>nav {
    display: none;
  }

  .banner-content {
    flex-direction: column-reverse;
  }

  .banner {
    /* position: relative; */
  }

  .banner-texts,
  .banner-description {
    width: 100%;
    text-align: center;
  }

  .img {
    width: 100%;
  }

  .sponsorers {
    width: 100%;
  }

  .sponsors-logo {
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card-collection {
    width: 100%;
    margin-bottom: 100px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .special-btn {
    padding-right: 10px;
  }

  .featured {
    width: 100%;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    padding: 0 10px;
  }

  .featured>img {
    width: 100%;
  }

  .featured-texts {
    width: 100%;
    text-align: center;
  }

  .featured-description {
    padding-bottom: 25px;
  }

  .btn-box {
    justify-content: center;
    margin-bottom: 25px;
  }
}

/* For Tab Devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .header>nav {
    padding-top: 10px;
  }

  .banner-content {
    flex-direction: column-reverse;
  }

  .banner-texts {
    text-align: center;
  }

  .btn-box {
    justify-content: center;
  }

  .sponsorers {
    width: 100%;
  }

  .card-collection {
    width: 100%;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px
  }

  .special-btn {
    padding-right: 10px;
  }

  .featured {
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }

  .featured-texts>.btn-box {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}